.cart {
  min-height: 100vh;
  background-color: #151515;
  padding-bottom: 2.5rem;
  h1 {
    font-size: 2.7rem;
    font-weight: bold;
    opacity: 0.5;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
  .prices {
    padding: 0 0.5rem;
    margin: 1rem 0;
    p {
      font-size: 1.1rem;
    }
  }
  .menu {
    display: block;
    h1 {
      color: white;
    }
  }
  nav {
    display: none;
  }
}
.card {
  background-color: black;
  border-radius: 12px;
  //   .cardRow {
  //     height: 150px;
  //   }
  img {
    border-radius: 12px;
  }
  .details,
  .quantity,
  .total {
    p {
      font-size: 1rem;
    }
    padding: 0 1rem;
  }
  .details {
    padding: 0 1rem;
    h2 {
      text-transform: capitalize;
      font-size: 1.6rem;
    }
    > p > span {
      opacity: 0.5;
    }
  }
  .quantity {
    .control {
      display: inline-block;
      width: 120px;
      height: 40px;
      border: 1px solid rgb(68, 49, 103);
      position: relative;
      color: white;
      border-radius: 4px;
      margin-top: 0.4rem;
      .plus,
      .minus {
        font-size: 1.2rem;
      }
      .plus,
      .minus,
      .qty {
        position: absolute;
        opacity: 1;
        color: white;
      }
      .qty {
        left: 3.5rem;
        top: 0.4rem;
      }
      .plus {
        left: 0.7rem;
        top: 0.15rem;
      }
      .minus {
        right: 0.7rem;
        top: 0.15rem;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .card {
    min-height: 165px;
  }
  .cart {
    .menu {
      display: none !important;
    }
    nav {
      display: block;
    }
  }
}
